<template>
  <div class="space-all">
    <div class="columns">
      <div class="column">
        <div class="columns is-mobile">
          <div class="column is-8">
            <b-input
              placeholder="Escribe un nombre"
              icon="search"
              v-model="search"
              icon-pack="fas"
              @keyup.native="searchName()"
            >
            </b-input>
          </div>
          <div class="column">
            <b-button type="is-success" expanded @click="openModelCreate()"
              >Crear cliente</b-button
            >
          </div>
        </div>
        <table-view :data="data"></table-view>
      </div>
    </div>
    <b-modal
      v-model="isComponentModalActive"
      has-modal-card
      trap-focus
      :destroy-on-hide="true"
    >
      <template #default="props">
        <modal-create
          @close="props.close"
          :isEdit="isEdit"
          :dataEdit="dataEdit"
        ></modal-create>
      </template>
    </b-modal>
    <b-loading
      :is-full-page="true"
      v-model="isLoading"
      :can-cancel="false"
    ></b-loading>
  </div>
</template>

<script>
import TableView from '@/components/Table.vue'
import ModalCreate from '@/components/ModalCreate.vue'
import { listUsers, delUser } from '../services/users.service.js'

export default {
  name: 'Home',
  data() {
    return {
      isComponentModalActive: false,
      isLoading: false,
      data: [],
      isEdit: false,
      dataEdit: {},
      search: '',
    }
  },
  components: {
    TableView,
    ModalCreate,
  },
  methods: {
    async list() {
      try {
        this.isLoading = true
        let { user, message } = await listUsers()
        this.data = user
        this.isLoading = false
      } catch (error) {
        console.log(error)
      }
    },
    openModelCreate() {
      this.isEdit = false
      this.dataEdit = {}
      this.isComponentModalActive = true
    },

    searchName() {
      this.$bus.emit('searchUsers', this.search)
    },
  },

  created() {
    this.list()

    //Bus
    this.$bus.on('refreshUsers', () => this.list())
    this.$bus.on('openEditModal', (user) => {
      this.dataEdit = user
      this.isEdit = true
      this.isComponentModalActive = true
    })
  },
}
</script>

<style scoped>
.space-all {
  margin: 6% 25% 0 25%;
}

.top-space {
  margin-top: 3%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
