<template>
  <div>
    <div class="card" style="width: auto">
      <header class="card-header">
        <p class="card-header-title is-centered">
          {{ isEdit ? 'Editar Cliente' : 'Crear Cliente' }}
        </p>
      </header>
      <!-- <div class="card-header">
        <p class="modal-card-title">Crear Cliente</p>
        <button type="button" class="delete" @click="$emit('close')" />
      </div> -->

      <div class="card-content">
        <b-field label="Nombre" label-position="on-border">
          <b-input v-model="name" type="text" placeholder="Ej. Leonardo">
          </b-input>
        </b-field>

        <b-field label="Apellido" label-position="on-border">
          <b-input v-model="lastname" type="text" placeholder="Ej. Dicaprio">
          </b-input>
        </b-field>

        <b-field label="Edad" label-position="on-border">
          <b-input v-model="age" type="number" placeholder="Ej. 25"> </b-input>
        </b-field>

        <b-field label="Sexo" label-position="on-border">
          <b-select
            v-model="gender"
            placeholder="Sexo"
            icon="street-view"
            icon-pack="fas"
            expanded
          >
            <option value="male">Hombre</option>
            <option value="female">Mujer</option>
          </b-select>
        </b-field>

        <b-field label="País" label-position="on-border">
          <b-select
            v-model="country"
            placeholder="País"
            icon="globe"
            icon-pack="fas"
            expanded
            :loading="isLoadingCountry"
          >
            <option
              :value="item.alpha2Code"
              v-for="(item, index) in countries"
              :key="index"
              >{{ item.name }}</option
            >
          </b-select>
        </b-field>
      </div>

      <footer class="card-footer">
        <a class="card-footer-item" @click="$emit('close')"
          ><b-icon
            pack="fas"
            type="is-danger"
            icon="sign-out-alt"
            size="is-small"
          >
          </b-icon>
        </a>
        <a v-show="!isEdit" class="card-footer-item" @click="createUser()">
          <b-icon
            v-if="!isLoadingUser"
            pack="fas"
            type="is-success"
            icon="save"
            size="is-small"
          >
            <b-icon else pack="fas" icon="spinner" custom-class="fa-spin">
            </b-icon>
          </b-icon>
        </a>
        <a v-show="isEdit" class="card-footer-item" @click="editUser()">
          <b-icon
            v-if="!isLoadingUser"
            pack="fas"
            type="is-info"
            icon="edit"
            size="is-small"
          >
            <b-icon else pack="fas" icon="spinner" custom-class="fa-spin">
            </b-icon>
          </b-icon>
        </a>
      </footer>
    </div>
  </div>
</template>

<script>
import { getAllCountries } from '../services/countries.service.js'
import { createUser, editUser } from '../services/users.service.js'

export default {
  props: ['isEdit', 'dataEdit'],
  data() {
    return {
      isLoadingCountry: false,
      isLoadingUser: false,

      name: '',
      lastname: '',
      age: null,
      gender: null,
      country: null,

      countries: [],
    }
  },
  methods: {
    async getCountries() {
      try {
        this.isLoadingCountry = true
        let countries = await getAllCountries()
        this.countries = countries
        this.isLoadingCountry = false
      } catch (error) {
        console.log(error)
      }
    },
    async createUser() {
      try {
        this.isLoadingUser = true
        let { user, message } = await createUser({
          name: this.name,
          lastname: this.lastname,
          age: this.age,
          gender: this.gender,
          country: this.country,
        })
        this.$buefy.toast.open({
          message,
          type: 'is-success',
        })
        this.isLoadingUser = false
        this.$emit('close')
        this.$bus.emit('refreshUsers')
      } catch (error) {
        console.log(error)
      }
    },
    async editUser() {
      try {
        this.isLoadingUser = true
        let { user, message } = await editUser(this.dataEdit._id, {
          name: this.name,
          lastname: this.lastname,
          age: this.age,
          gender: this.gender,
          country: this.country,
        })
        this.$buefy.toast.open({
          message,
          type: 'is-success',
        })
        this.isLoadingUser = false
        this.$emit('close')
        this.$bus.emit('refreshUsers')
      } catch (error) {
        console.log(error)
      }
    },
    setUser() {
      if (this.isEdit) {
        let { name, lastname, age, gender, country } = this.dataEdit
        this.name = name
        this.lastname = lastname
        this.age = age
        this.gender = gender
        this.country = country
      }
    },
  },
  created() {
    this.getCountries()
    this.setUser()
  },
}
</script>
